# =========================
# Python
# =========================
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# =========================
# Virtual environments
# =========================
api/venv/
api/.venv/
api/env/

# =========================
# Environment / secrets
# =========================
.env
api/config.yaml
api/.env

# =========================
# Logs
# =========================
api/logs/
api/manifests/
*.log
*.jsonl

# =========================
# Jupyter
# =========================
**/.ipynb_checkpoints

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Test cache
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build artifacts
# =========================
dist/
build/
*.egg-info/

# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.swp

# =========================
# Documents used for RAG
# =========================
api/docs/*.pdf
api/docs/*.zip
api/docs/*.docx
api/docs/unb

# =========================
# Experiment outputs
# =========================
api/experiments/
api/results/

# =========================
# WEB
# =========================
# v0 runtime files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts

# Common ignores
node_modules/
.next/
.env*.local
.DS_Store



# =========================
# Others
# =========================
gera_arquivos.py
*.txt
api/shortcut.bash